	new file:   .idea/SF.iml
	new file:   .idea/encodings.xml
	new file:   .idea/inspectionProfiles/Project_Default.xml
	new file:   .idea/misc.xml
	new file:   .idea/modules.xml
	new file:   .idea/vcs.xml
	new file:   .idea/workspace.xml
*.pyc